@import '../styles/styles.scss';

.primary {
  color: var(--white-font);
  background-color: var(--primary-color);
  font-size: 1.7rem;
  font-weight: 600;
  padding: 1.2rem;
  transition: all 0.5s ease;
}

.primary:hover {
  color: var(--primary-color);
  background-color: hsl(22, 100%, 92%);
  border: 1px solid var(--primary-color);
}

.primary:active {
  color: var(--white-font);
  background-color: hsl(22, 100%, 42%);
}

.primary:disabled {
  color: hsla(360, 1%, 20%, 0.7);
  background-color: hsla(360, 1%, 50%, 0.3);
  border: none;
}