@import './grid.module.scss';

.header {
  background-color: var(--header-color);
  color: var(--white-font);
  min-height: 4.8rem;
  position: sticky;
  top: 0;
  z-index: 2;
  transform: translateY(-0.1rem);
  @include grid();
}

.grid-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include grid-item();
}

.logo {
  font-size: 1.8rem;
  font-weight: 500;
  animation: 2s fade-In, 3s ease-in-out bounceInLeft;
  transition: color 1s, transform 1s;
}

.logo:hover {
  color: var(--primary-color);
  transform: scale(110%);
}

.header .nav {
  display: flex;
  gap: 3.6rem;
  align-items: center;
}

.header .nav .menu {
  margin: 0;
  transform: translateY(0.2rem);
}

.header .item,
.header .nav .menu {
  list-style: none;
}

.header .nav .item,
.header .nav .menu .icon--d {
  display: none;
}

.header .nav .menu .icon--m {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .header .logo {
    font-size: 2rem;
    font-weight: 700;
    animation: 2s fade-In, 3s ease-in-out bounceInLeft;
  }

  .header .item {
    transition: animation  2s;
  }

  .header .item:hover,
  .header .icon:hover {
    animation: 1.5s infinite pulse;
  }

  .header .nav {
    animation: 2s fade-In, 3s ease-in-out bounceInRight;
  }

  .header .nav .item,
  .header .nav .menu .icon--d {
    display: inline-block;
  }

  .header .nav .menu .icon--m {
    display: none;
  }
}